{% extends "layout/layout.html" %}
{% block body %}
<div id="controls" class="text-center" style="padding-top: 25px;">
    <p>Enter the user that you would like to delete</p>
</div>
<div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="usernameDelete">
  </div>
  <button type="submit" class="btn btn-success" id="submit" onclick="del()">Delete</button>
  <!-- inserting these scripts at the end to be able to use all the elements in the DOM --> 
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.4.min.js') }}"></script>
{% endblock %}